@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&family=Kanit:wght@300&family=Kirang+Haerang&family=Secular+One&display=swap');

*{
    margin: 0;
    padding: 0;
}
.App{
    height: 100vh;
}




